
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  width: 100%; /* Ensures the container takes full width */
}

.table { /* Assuming .table is your table's class */
  width: auto; /* Or 100% if it should stretch */
  max-width: 100%; /* Prevents the table from overflowing its container */
  margin: 0 auto; /* Centering for block element, effective if width is less than container's width */
  overflow-x: auto; /* For horizontal scrolling on small screens */
}


.button-group, .output {
  display: flex;
  justify-content: center;
  padding: 20px; /* Or any suitable padding */
}
